/*.container{*/
/*    display: grid;*/
/*    margin: 50px auto;*/
/*    width: 50%;*/
/*    grid-template-columns: repeat(auto-fill, 100px);*/
/*    grid-template-rows: 1fr;*/
/*    grid-auto-rows: 300px;*/
/*    grid-auto-columns: 300px;*/
/*}*/
/*.container>*{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.container>div{*/
/*    background: rgb(200,200,200);*/
/*}*/
/*header{*/
/*    background: red;*/
/*}*/
/*nav{*/
/*    background: blue;*/
/*}*/
/*aside{background: yellow;}*/
/*main{background: green;}*/
.wadah{
    display: grid;
    width: 50%;
    margin: 0 auto;
    border: 10px solid black;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
}
.wadah>div{
    height: 10px;
    background: green;
}
.wadah>div:nth-child(even){
    background: yellow;
}
.flex{
    display: flex;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.flex .a{
    width: 20%;
    height: 70px;
    background: red;



}
.flex .b{
    width: 30%;
    height: 100px;
    background: blue;

}
.flex .c{
    width: 25%;
    height: 50px;
    background: cyan;
}

.cont{
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-rows: 100px 150px 200px;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    grid-template-areas:
    'header header header'
    'sidebar sidebar sidebar'
    'content content content'
    'footer footer footer';
}
.cont div{
    /*padding: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.item{
    background: red;
}
/*.cont div:nth-child(even){*/
/*    background: blue;*/
/*}*/
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
    background: aquamarine;
}
.content{
    grid-area: content;
    background: lightblue;
}
.footer{
    grid-area: footer;
    background: darkblue;
}

/*Responsive bosskuh*/
@media screen and (min-width: 576px){
    .cont{
        grid-template-areas:
    'header header header'
    'sidebar content content'
    'sidebar content content'
    'footer footer footer';
    }
}